<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.r00li.rhremote" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RhomeTheme"
        tools:replace="android:icon,android:theme" >
        <service android:name=".NotificationService" />
        <activity
            android:name=".RoomControl"
            android:label="@string/app_name"
            android:theme="@style/RhomeTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/RhomeSettings"
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:theme="@style/RhomeSettings"
            android:name=".NewRoom"
            android:label="@string/title_activity_new_room" >
            <intent-filter>
                <action android:name="newRoom" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/RhomeSettings"
            android:name=".About"
            android:label="@string/title_activity_about" >
            <intent-filter>
                <action android:name="about" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
